body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    margin: 0;
    padding: 20px;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
    color: #fff;
}

h1, h2 {
    margin-bottom: 10px;
}

.form-card {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.input-group {
    text-align: left;
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 8px;
}

.btn-add, .btn-export {
    background: #00ffcc;
    padding: 12px 25px;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}

#studentTable {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    color: black;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.status-green {
    color: white;
    background: #28a745;
    padding: 5px 10px;
    border-radius: 8px;
}

.status-red {
    color: white;
    background: #dc3545;
    padding: 5px 10px;
    border-radius: 8px;
}

.btn-delete {
    background: red;
    color: white;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
